<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RRHH.DS.BD.Conexion" connectionString="Data Source=rrhh4.database.windows.net;Initial Catalog=RRHH4;User ID=rrhhsangabriel;Password=@Ndrey1."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>