<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RRHH.DS.BD.Conexion" connectionString="Data Source=.;Initial Catalog=RRHH4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>